@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:wght@300;400;500;600;700&display=swap&subset=latin');

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding: 1em 0;
  margin-bottom: 1em;
}

body {
  font-family: 'Krona One', sans-serif;
  background-color: #59e7f1;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.5em;
}

h1, h2 {
  color: #1e90ff;
  text-align: center;
  margin: 10px 0;
  font-size: 0.8em;
  font-weight: bold;
  font-family: 'Krona One', sans-serif;
}

tabla {
  font-family: 'Times New Roman', Times, serif;   
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  font-size: 1.5em;
  font-weight: bold;
}

th, td {
  border: 3px solid #1e90ff;
  padding: 0.4em 0.6em;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;  
}

input, select {
  width: 100%;
  box-sizing: border-box;
  padding: 0.4em;
  font-size: 0.8em;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espacio entre botones */
  margin: 10px 0;
}

button {
  background-color: #1e90ff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  margin-top: auto;
}

#contador-puertas {
  text-align: center;
  margin: 10px 0;
  font-size: 1.5em;
  color: #ff1e1e;
}

@media (min-width: 768px) {
  table {
    width: 80%;
  }

  .button-container {
    justify-content: center;
  }
}